
.login_form_container{
    margin-top: 200px;
    margin-left: 140px;
}
.login_main_text{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 4px;
}

.login_form_password_section{
    display: flex;
    justify-content: space-between;
}
.login_form_password_text{
    font-size: 12px;
    color: blue;
    margin-bottom: 8px;
    cursor: pointer;
}
