


.change_password_container{
    display:flex;
     justify-content:space-between
}
.change_password_form_section{
    width: 35%;
    margin-left: 150px;
    margin-top: 40px;
}

.password_rule_container{
    width:200px;
    height:200px;
    border: 1px solid lightgrey;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 8px;
}