/*********** Button Styling *************/
.btn_ripple {
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: all ease-in-out 0.5s;
}

.btn_ripple::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 25%;
	height: 100%;
	width: 50%;
	background-color: #000;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 1s;
	transform: scale(5, 5);
}

.btn_ripple:active::after {
	padding: 0;
	margin: 0;
	opacity: 0.2;
	transition: 0s;
	transform: scale(0, 0);
}
/*********** Button Styling End *************/

/* ************************* Bootstrap no padding no margin styling starts ***************************/

.no_gutter {
	margin-left: 0;
	margin-right: 0;
}

.no_gutter > [class^="col-"] {
	padding-left: 0;
	padding-right: 0;
}
/* ************************* Bootstrap no padding no margin styling end ***************************/

/* ************************* Home page common styling starts ***************************/
.home_top_action_btn {
	font-size: 10px;
	color: #144192;
	font-weight: 600;
	font-size: 12px;
	box-shadow: none !important;
	border: 1.5px solid #144192;
	border-radius: 6px;
	margin-left: 8px;
}

.home_top_action_btn:hover {
	color: #144192 !important;
}
.home_top_container {
	margin-top: 12px;
	margin-right: 16px;
}
.home_top_section {
	float: right;
}
.home_top_text {
	font-size: 12px;
	color: #144192;
	font-weight: 500;
}

/* ************************* Home page common styling end ***************************/

/* ************************* Form common styling starts ***************************/
.common_form_text_field {
	width: 100%;
	border: 1.5px solid lightgray;
	border-radius: 6px;
	padding: 7px 12px;
	/* margin-bottom: 12px; */
}
.home_form_section {
	width: 55%;
}
.common_form_label {
	font-size: 0.6785em;
	margin-bottom: 8px;
	margin-top: 16px;
	font-weight: 500;
	color: #BDBEC5;
}
.common_submit_container {
	text-align: center;
}

.common_light_btn{
	background-color: #ffffff;
	font-size: 10px;
	color: #144192;
	font-weight: 600;
	font-size: 12px;
	box-shadow: none !important;
	border-radius: 4px;
	padding: 12px 50px;
	border:1.5px solid #144192
}
.common_light_btn:hover {
	color: #144192 !important;
}
.common_submit_btn {
	background-color: #144192;
	font-size: 10px;
	color: #ffffff;
	font-weight: 600;
	font-size: 12px;
	box-shadow: none !important;
	border-radius: 4px;
	padding: 12px 50px;
}
.common_submit_btn:hover {
	color: #ffffff !important;
}
/************************** Form common styling end ***************************/

/**************************common css for screens starts**************************/

.commom_wrapper {
	margin-left: 110px;
	margin-top: 95px;
	margin-right: 60px;
}
.commom_title {
	font-size: 1.8em;
	font-weight: bold;
	color: #144192;
}
.commom_subtitle {
	color: lightgray;
	font-size: 0.7em;
	font-weight: 500;
	line-height: 0.9;
}
.common_header_margin{
	margin-top: 62.5px;
}

/* *************************common css for screens end************************* */

/* ******************************common card starts****************************************** */
.card_layout {
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.129));
    border-radius: 8px;
}

/* ******************************common card end****************************************** */